*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    font-size: 10px;
    font-family:sans-serif, serif;
}
.font-1{
    font-size: 1.6rem;
}
.font-2{
    font-size: 3rem;
}
.font-3{
    font-size: 2rem;
}
.font-4{
    font-size: 1.6rem;
}
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}
.relative{
    position: relative;
}
.float-L{
    float: left;
}
.float-R{
    float: right;
}
.p-1{
    padding: 3rem;
}
.p-2{
    padding: 0rem 3rem 0rem 14rem;
}
.p-3{
    padding: 2rem 0rem;
}
.p-4{
    padding: 0rem 0rem 1rem 0rem;
}
.p-5{
    padding: 5rem
}
.p-6{
    padding: 0.5rem;
}
.p-7{
    padding:1rem;
}
.w-1{
    width: 50%;
}
.w-2{
    width: 100%;
}
.in-block{
    display: inline-block;
}
.border-1{
    border-bottom: 3px solid orange;
}
.border-2{
    border-bottom: 1px solid #a6a5ab;
}
.bg-arrow{
    background-color:#ffe5e1;
    border-radius: 50%;
}
.text-gray{
    color: #a6a5ab;
}
.text-purple{
    color: #664ea1
}
.text-white{
    color: white;
}
.text-orange{
    color: orange;
}
.v-b{
    vertical-align: bottom;
}

/* Header */
.outer-circle{
    border: 8px solid blue;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.foot li{
    display: inline-block;
    list-style: none;
}
.foot a{
    text-decoration: none;
}
img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}